[Unit]
Description=Firewall
After=syslog.target network.target

[Service]
Type=oneshot
ExecStart=/etc/firewall.bash start
ExecStop=/etc/firewall.bash stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
